.cursor {
  position: fixed;

  border-radius: 50%;
  pointer-events: none;
  @apply fixed rounded-full pointer-events-none backdrop-blur-2xl border-white/80 bg-white/10 min-w-[85px] min-h-[85px] flex items-center justify-center;
}
